@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 155 36% 100%;
    --foreground: 155 71% 1%;
    --card: 155 36% 100%;
    --card-foreground: 155 71% 1%;
    --popover: 155 36% 100%;
    --popover-foreground: 155 71% 1%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 155 14% 80%;
    --secondary-foreground: 155 14% 20%;
    --muted: 155 5% 95%;
    --muted-foreground: 155 8% 33%;
    --accent: 155 20% 95%;
    --accent-foreground: 155 23% 11%;
    --destructive: 8 87% 43%;
    --destructive-foreground: 0 0% 100%;
    --border: 155 15% 80%;
    --input: 155 15% 80%;
    --ring: 155 58% 29%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 155 10% 10%;
    --foreground: 155 29% 98%;
    --card: 155 10% 8%;
    --card-foreground: 155 29% 98%;
    --popover: 155 0% 8%;
    --popover-foreground: 155 29% 98%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 155 10% 18%;
    --secondary-foreground: 155 10% 78%;
    --muted: 155 5% 5%;
    --muted-foreground: 155 8% 67%;
    --accent: 155 4% 25%;
    --accent-foreground: 155 19% 85%;
    --destructive: 8 87% 49%;
    --destructive-foreground: 0 0% 100%;
    --border: 155 10% 20%;
    --input: 155 13% 15%;
    --ring: 155 58% 29%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
